// COMMON

:root {
  --font-style: 'Nanum Gothic', sans-serif; 
  --border-color: #f5f5f5;
  --table-border-color: #f0f0f0;
  --table-th-background: #fafafa;
  --text-color: #333;
  --sub-text-color: #999;
}

body {
  font-family: var(--font-style);
  color: var(--text-color);
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

button, input {
  border: none;
  background-color: inherit;
  outline: none;
  cursor: pointer;
}

button.hover-navy {
  border: 2px solid #213b85;
  line-height: 36px;
  color: #213b85;
  padding: 0 20px;
  transition: 0.3s;
  
  i {
    margin-right: 5px;
  }
}

button.hover-navy:hover {
  background-color: #213b85;
  color: #fff;
}

.blackBtn {
  background-color: #000;
  border-radius: 50px;
  color: #fff;
  display: inline-block;
  line-height: 42px;
  font-size: 15px;
  padding: 0 20px;
  margin: 0 auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

select {
  border: none;
  outline: none;
  border: 1px solid #eaeaea;
  height: 42px;
  padding: 0 20px;
  width: 100px;
}

img {
  width: 100%;
}

img.require {
  width: 10px;
  position: absolute;
}

.inner {
  width: 1210px;
  margin: 0 auto;
}

table {
  width: 100%;
  font-size: 12px;
  color: #353535;

  tr.number-tr {

    input[type="text"] {
      width: 100px;
    }
  }

  tr.address-tr {

    input[type="text"] {
      width: 370px;
    }
  }

  tr.address {

    td {

      input {
        margin-bottom: 5px;

        &:first-child {
          width: 100px;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }

      button {
        margin-left: 5px;
      }
    }
  }

  th, td {
    border: 1px solid var(--table-border-color);
  }

  th {
    position: relative;
    background-color: var(--table-th-background);
    padding-left: 18px;
  }

  td {
    padding: 10px;

    input {
      border: 1px solid #eaeaea;
      line-height: 40px;
      padding: 0 20px;
      box-sizing: border-box;
    }
  }
}

h1 {
  width: 100%;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  padding: 20px 0 40px;
  position: relative;
  
  &::after {
    position: absolute;
    display: block;
    content: "";
    width: 0;
    height: 5px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    transition: 0.3s;
  }
}

h2 {
  width: 100%;
  font-size: 42px;
  font-weight: bold;
  text-align: center;
}

p {
  text-align: center;
}

.mt70 {
  margin-top: 70px;
}

// 한 줄 당 박스 갯수
.block3 {
  display: flex;
  flex-wrap: wrap;

  li {
    width: calc(33.3333% - 13.4px);
    margin-right: 20px;
    margin-bottom: 50px;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}

.block2 {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  gap: 20px;
}

.imgBox {
  position: relative;

  .icon {
    position: absolute;
  }
}

.colorBox {
  margin: 20px 0 10px;
  
  span {
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
  }

  .beige {
    background-color: #f8ecca;
  }

  .mint {
    background-color: #B8DFDC;
  }

  .pink {
    background-color: #FBBDC0;
  }

  .white {
    background-color: #fff;
  }

  .black {
    background-color: #1F1F38;
  }

  .green {
    background-color: #13755c;
  }
}

.textBox {
  line-height: 1.5;
  font-size: 15px;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 20px;
  margin-bottom: 10px;

  span {
    color: #3399ff;
  }
}

.priceBox {
  font-weight: bold;
  font-size: 18px;
  
  .discount {
    font-size: 16px;
    font-weight: normal;
    margin-right: 15px;
    color: #999;
    text-decoration: line-through;
  }

  .salePercent {
    display: inline-block;
    color: #ff6600;
    margin-top: 15px;
  }
}