.page-nav {
  a {
    display: inline-block;
    margin-bottom: 30px;
    line-height: 50px;
    font-size: 11px;
    font-weight: bold;
    color: #999;

    &::before {
      content: '>';
      display: inline-block;
      margin-top: -3px;
      padding: 0 20px;
      font-size: 9px;
      vertical-align: middle;
    }

    &:first-child::before {
      display: none;
    }

    &:last-child {
      color: #555;
    }
  }
}

.product-detail {
  .inner {
    display: flex;
    justify-content: space-between;
  }

  &__header {
    .product-thumbnail {
      width: 50%;
    }

    .product-order {
      width: 43%;
    }

    .product-summary {

      &__title {
        span {
          padding-bottom: 5px;
          font-size: 11px;
          font-weight: bold;
          color: #999;
        }

        p {
          margin-top: 15px;
          font-size: 25px;
          line-height: 1.4em;
          text-align: left;
          letter-spacing: -0.03em;
        }

        .price {
          display: inline-block;
          margin: 20px 0 40px;
          font-size: 24px;
          color: #000;
        }

        .priceBox {
          font-weight: bold;
          font-size: 24px;
          
          .discount {
            font-weight: normal;
            font-size: 24px;
            margin-right: 15px;
            color: #999;
            text-decoration: line-through;
          }
        
          .salePercent {
            display: inline-block;
            color: #ff6600;
            margin-top: 15px;
            font-size: 20px;
          }
        }
      }

      .info-title {
        margin-bottom: 20px;
        width: 100%;
        border-top: 1px solid #eaeaea;
        border-bottom: 1px solid #f0f0f0;
        background-color: #fafafa;
        font-size: 13px;
        line-height: 50px;
        text-align: left;
        font-weight: bold;
      }

      &__info {
        margin-bottom: 40px;
        padding-bottom: 20px;

        p {
          padding: 0 10px;
          line-height: 24px;
          font-size: 12px;
          text-align: left;
          box-sizing: border-box;

          em {
            display: inline-block;
            width: 20%;
          }

          span {
            font-weight: bold;
          }
        }
      }

      .btn-group {
        display: flex;
        flex-direction: column;
        gap: 15px;

        a {
          position: relative;
          display: block;
          color: #eaeaea;
          border: 2px solid #213B85;
          border-bottom-color: #213B85;
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.04);
          text-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
          font-size: 16px;
          line-height: 60px;
          padding: 0 30px;
          text-align: center;
          font-weight: bold;
          transition: 0.2s;

          &:hover {
            background: #213B85;
            color: #fff;
          }
        }

        .buy-btn {
          background: linear-gradient(to bottom, #213B85 0%, #213B85 100%);

          &:hover {
            background: linear-gradient(to bottom, #053271 0%, #053271 100%);
          }
        }

        .cart-btn {
          color: #213B85;

          i {
            margin-right: 10px;
            font-weight: bold;
          }
        }
      }

      .delivery-info {
        padding: 20px 0;

        p {
          line-height: 20px;
          font-size: 12px;
          font-weight: bold;
          text-align: left;

          &::before {
            content: '';
            display: inline-block;
            margin: 3px;
            width: 14px;
            height: 14px;
            background: transparent url('https://acttomall.com/_sp/_image/svg/exclamation.svg');
            vertical-align: middle;
          }

          &:first-child {
            color: red;
          }
        }
      }
    }
  }

  &__body {
    margin: 200px 0;

    .tab-menu {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 100px;
      text-align: center;
      border-bottom: 1px solid rgb(239, 239, 239);

      li {

        a {
          display: inline-block;
          line-height: 60px;
          font-weight: bold;

          &::before {
            content: '';
            display: inline-block;
            margin: 0 20px;
            width: 1px;
            height: 10px;
            background: rgba(0, 0, 0, 0.1);
          }

        }

        &:first-child a::before {
          display: none;
        }


      }
    }
  }

  &__img {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
  }
}

.modal-payment {
  &.active {
    display: block;
  }

  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  max-height: 600px;
  background-color: #fff;
  border: 1px solid #000;
  border-top-width: 3px;

  &__header {
    * {
      display: inline-block;
    }

    padding: 0 30px;
    line-height: 54px;
    vertical-align: middle;
    border-bottom: 1px solid #f0f0f0;

    h3 {
      display: inline-block;
      font-weight: bold;
      font-size: 14px;
      border-bottom: 2px solid #000;
    }

    span {
      font-size: 11px;
      padding-left: 10px;
      color: #999;
    }

    button {
      position: absolute;
      right: 0;
      font-size: 0;
      width: 54px;
      height: 54px;
      background: transparent url('https://acttomall.com/_sp/_image/svg/close.svg');
      background-size: 11px 11px;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &__body {
    padding: 30px;

    .modal-payment {
      &__title {
        margin-bottom: 14px;
        font-weight: bold;
        font-size: 11px;
        line-height: 30px;
        color: #999;
        border-bottom: 1px solid #000;

        &::after {
          content: '';
          display: block;
          clear: both;
        }

        em {
          position: relative;
          float: left;
          font-size: 14px;
          color: #000;
          font-weight: bolder;

          &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 3px;
            background-color: #444;
            left: 0;
            bottom: -1px;
          }
        }

        .subtext {
          float: left;
          line-height: 31px;
          font-size: 11px;
          color: #999;

          &::before {
            content: '';
            display: inline-block;
            margin: 0 9px;
            width: 1px;
            height: 10px;
            background-color: #000;
            vertical-align: middle;
          }
        }

        .total {
          float: right;
          // height: 30px;
          line-height: 22px;
        }

        strong {
          padding: 0 5px 0 3px;
          font-size: 24px;
          font-weight: bolder;
          color: #444;
        }
      }

      // &__list {}

      &__item {
        display: flex;
        text-align-last: left;
        font-weight: bold;
        border-top: 1px solid #f0f0f0;

        &:first-child {
          border-top: none;
        }

        .thumb {
          padding: 10px;
          width: 15%;
        }

        .description {
          padding: 10px;
          width: 55%;

          .name {
            line-height: 1.6em;
            font-weight: bold;
            font-size: 12px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            word-wrap: break-word;
            -webkit-line-clamp: 2 !important;
            text-overflow: ellipsis;
          }

          .delivery-fee {
            margin-top: 10px;
            font-size: 11px;
            color: #999;
          }

        }

        .price {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          width: 30%;
          font-size: 12px;
          color: #2e2e2e;
        }
      }

    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    height: 70px;
    border-top: 1px solid #f0f0f0;

    span {
      font-size: 11px;
    }

    .btn-buy {
      display: inline-block;
      padding: 0 20px;
      line-height: 40px;
      border: 2px solid #213B85;
      color: #213B85;
      background-color: #fff;
      font-size: 13px;
      transition: .3s;

      &:hover {
        border-color: #213B85;
        background-color: #213B85;
        color: #fff;
      }

      i {
        margin-right: 5px;
      }
    }
  }

  .pagination {

    display: flex;
    justify-content: center;
    align-items: center;

    &--control {
      margin: 0 3px;
      width: 24px;
      height: 24px;
      line-height: 30px;
    }

    &--page {
      // padding: 0 10px;
      font-weight: bolder;
      font-size: 12px;


      ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        height: 30px;
        text-align: center;

        &::before,
        &::after {
          content: '';
          display: inline-block;
          margin: 0 20px;
          width: 1px;
          height: 14px;
          line-height: 30px;
          background-color: #eaeaea;
        }
      }

      li {
        width: 30px;
        line-height: 30px;
        font-weight: bold;
        border-radius: 999px;

        &.active {
          background-color: #444;
          color: #fff;
        }
      }
    }
  }
}