// home
main {
  .swiper {
    .swiper-pagination {
      transition: 0.5s;
      opacity: 0;
  
      span {
        transition: 0.3s;
  
        &.swiper-pagination-bullet-active {
          width: 20px;
          background: #000;
          border-radius: 5px;
        }
      }
    }
  
    .swiper-button-prev, .swiper-button-next {
      transition: 0.5s;
      opacity: 0;
  
      &::after {
        font-size: 30px;
        color: #000;
      }
    }
  
    .swiper-button-prev {
      left: 10%;
    }
  
    .swiper-button-next {
      right: 10%;
    }
  
    &:hover {
      .swiper-pagination {
        opacity: 1;
      }
  
      .swiper-button-prev, .swiper-button-next {
        opacity: 1;
      }
    }
  }
  > section:hover {
    h1 {
      &::after {
        width: 30px;
      }
    }
  }
  
  // 키보드 배너 영역, 마우스 배너 영역, 데스크셋업 배너 영역
  .keyboard-banner, .mouse-banner, .deskSetup {
    margin-bottom: 150px;
  
    h2 {
      padding: 30px 0;
    }
  
    p {
      line-height: 1.5;
      margin-bottom: 20px;
      font-weight: bold;
    }
  }
  
  .review {
    margin-top: 100px;
    .inner {
      > li {
        border: 1px solid #e5e5e5;
        box-sizing: border-box;

        .imgBox {
          background-color: #e5e5e5;
          height: 237px;
          overflow: hidden;
          position: relative;

          img {
            width: auto;
            height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }

        .txtBox {
          padding: 10px;
          box-sizing: border-box;
          div {
            p {
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              font-size: 12px;
              text-align: left;
  
              &.comment {
                font-weight: bold;
                margin-bottom: 0;
              }
  
              &.viewerId {
                color: #767676;
                font-size: 11px;
                padding: 10px 0;
                border-bottom: 1px solid var(--border-color);
                margin-bottom: 0;
              }
            }

            &.productBox {
              display: flex;
              padding: 10px 0;

              img {
                width: 33px;
                height: 33px;
                margin-right: 10px;
              }

              .productInfo {
                width: calc(100% - 43px);

                p {
                  font-size: 11px;
                  margin-bottom: 0;

                  &.productName {
                    font-weight: bold;
                    line-height: 19px;
                    padding-bottom: 4px;
                  }

                  &.productRating {
                    color: #767676;
                    font-weight: bold;

                    span {
                      display: inline-block;
                      color: var(--text-color);

                      &.reviewRate {
                        margin-right: 15px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}