// login.html
main {
  .logIn-area {
    width: 600px;
    margin: 0 auto;
    padding: 100px 70px;
    box-sizing: border-box;
    font-size: 12px;
  
    h1 {
      font-size: 27px;
      font-weight: bold;
      text-align: center;
      margin-bottom: 10px;
    }
  
    .logIn-area__input {
      margin: 70px 0 15px;
      display: flex;
      flex-direction: column;
      width: 100%;
      border: 1px solid #e1e1e1;
      border-radius: 5px;
  
      input {
        border-bottom: 1px solid #e1e1e1;      
        line-height: 50px;
        padding: 0 15px;
  
        &:last-child {
          border-bottom: 0;
        }
  
        &::placeholder {
          color: var(--sub-text-color);
        }
      }
    }
  
    .logIn-area__saveId {
      margin-bottom: 15px;
      display: flex;
      align-items: center;
  
      input {
        -webkit-appearance: none;
        width: 20px;
        height: 20px;
        background-color: #eee;
        border-radius: 50%;
        margin-right: 10px;
  
        &:checked {
          background-color: #fee500;
          position: relative;
        }
  
        &:checked::after {
          content: "";
          display: block;
          background: url("../static/images/icons/check.png") no-repeat center;
          background-size: 10px;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
  
    .logIn-area__find {
      display: flex;
      margin-top: 30px;
      position: relative;
  
      a {
        padding: 0 20px;
        
        &:first-child {
          border-right: 1px solid #e1e1e1;
          padding-left: 0;
        }
  
        &:last-child {
          border-right: 0;
          padding: 0;
          position: absolute;
          right: 0;
        }
      }
    }
  
    .logInBtn {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 30px;
      line-height: 45px;
      background-color: #31363d;
      color: #fff;
      border-radius: 5px;
      width: 100%;
      font-weight: bold;
      font-size: 15px;
    }
  }
}