@import url('./common.scss');
@import url('./home.scss');
@import url('./join.scss');
@import url('./login.scss');
@import url('./myshop.scss');
@import url('./myorder.scss');
@import url('./userInfo.scss');
@import url('./detail.scss');
@import url('./payment.scss');
@import url('./shoppingBag.scss');

// HEADER
header {
  font-weight: bold;

  // top-banner
  .top-banner {
    position: fixed;
    width: 100%;
    background-color: #fff;
    top: 0;
    border-bottom: 1px solid var(--border-color);
    line-height: 40px;
    font-size: 13px;
    z-index: 10;

    .inner {
      display: flex;
      justify-content: space-between;

      .top-nav {
        display: flex;

        .signUpsignIn {
          p {
            font-weight: normal;

            strong {
              font-weight: bold;
            }
          }

          .logOutBtn {
            font-weight: normal;
            font-size: 11px;
            color: #777;
          }
        }

        li {
          position: relative;
          margin-right: 30px;

          &:first-child {
            display: flex;
            gap: 10px;

            > a {
              position: relative;
              cursor: pointer;

              > .balloon {
                position: absolute;
                top: 95%;
                left: 50%;
                transform: translateX(-50%);
                width: 70px;
                line-height: 2;
                border-radius: 3px;
                text-align: center;
                background-color: #000;
                color: #fff;
                font-size: 12px;
                animation: balloon 1.6s linear infinite;
                font-weight: normal;

                @keyframes balloon {
                  0% {
                    top: 95%;
                  }

                  10% {
                    top: 110%;
                  }

                  20% {
                    top: 95%;
                  }

                  30% {
                    top: 110%;
                  }

                  40% {
                    top: 95%;
                  }
                }

                span {
                  position: absolute;
                  bottom: 100%;
                  left: 50%;
                  transform: translateX(-50%);
                  width: 0px;
                  height: 0px;
                  border-bottom: 5px solid #000;
                  border-left: 5px solid transparent;
                  border-right: 5px solid transparent;
                }
              }
            }
          }

          &::after {
            display: block;
            content: '';
            position: absolute;
            width: 1px;
            height: 15px;
            background-color: var(--border-color);
            top: 50%;
            right: -15px;
            transform: translate(50%, -50%);
          }

          &:last-child::after {
            display: none;
          }

          &:last-child {
            margin-right: 0;
          }

          a {
            display: flex;
            align-items: center;

            i {
              margin-right: 5px;
            }

            i.fa-circle-user, i.fa-gear {
              font-size: 20px;
            }
          }
        }
      }
    }
  }

  // logo-area
  .logo-area {
    display: flex;
    margin-top: 41px;
    border-bottom: 1px solid var(--border-color);

    .inner {
      position: relative;
      height: 100px;

      .logo-area__logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .logo-area__search {
        position: absolute;
        background-color: #f5f5f5;
        border-radius: 50px;
        line-height: 40px;
        padding: 0 20px;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
      }
    }
  }

  // nav-area
  .nav-area {
    border-bottom: 1px solid var(--border-color);
    height: 50px;
    line-height: 50px;
    font-size: 15px;
    background-color: #fff;
    position: relative;

    .inner {
      display: flex;
      justify-content: space-between;

      .nav-area__nav {
        margin: 0 auto;
        display: flex;
        gap: 50px;

        > li {
          text-align: center;
          // position: relative;

          > a {
            display: block;
            padding: 0 20px;
            position: relative;
          }

          &::after {
            position: relative;
            display: block;
            content: '';
            width: 0;
            height: 3px;
            background: #666;
            bottom: 2px;
            left: 50%;
            transform: translateX(-50%);
            transition: width 0.3s;
            z-index: 10;
          }

          &:hover::after {
            width: 100%;
          }

          &:hover {
            .nav-area__nav__panel {
              display: flex;
              justify-content: center;
              animation: menuAni 0.3s;
            }
          }

          &:last-child {
            position: relative;
            margin-left: 50px;

            a {
              font-size: 11px;
              vertical-align: middle;

              i {
                font-size: 14px;
                margin-right: 5px;
              }

              &::after {
                position: relative;
                display: block;
                content: '';
                width: 0;
                height: 3px;
                background: #666;
                bottom: 2px;
                left: 50%;
                transform: translateX(-50%);
                transition: width 0.3s;
                z-index: 10;
              }
    
              &:hover::after {
                width: 100%;
              }

            }
          }

          &:last-child::after {
            position: absolute;
            display: block;
            content: '';
            width: 1px;
            height: 15px;
            background-color: #666;
            top: 50%;
            left: -50px;
            transform: translate(50%, -50%);
          }

          .nav-area__nav__panel {
            position: absolute;
            width: 100%;
            left: 0;
            display: none;
            background-color: #fff;
            box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.05);
            z-index: 10;

            .inner {
              padding: 20px 0;
              display: flex;
              justify-content: center;
              flex-wrap: wrap;
              gap: 0 30px;

              li {
                display: inline-block;
                min-width: 130px;

                a {
                  &:hover {
                    color: #666;
                  }
                }
              }
            }
          }
        }
      }

      .nav-area__buttons {
        display: flex;
        gap: 5px;

        .nav-area-btn-li {
          button {
            width: 33px;
            height: 100%;

            .fa-bars {
              font-size: 20px;
              vertical-align: middle;
            }
          }

          &:first-child {
            background: url('../static/images/icons/cartIcon.svg') no-repeat
              center;
            background-size: 21px auto;
          }

          &:first-child {
            button {
              position: relative;

              span {
                position: absolute;
                top: 2px;
                left: 2px;
                color: #fff;
                background-color: #ccc;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                font-size: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }
          }
        }
      }
    }
  }
}

.block {
  right: 0 !important;
}

// FOOTER
footer {
  .service {
    border-top: 1px solid #eaeaea;

    .inner {
      padding: 50px 0;
      display: flex;

      .cs-center {
        width: 33.3333%;
        display: flex;
        flex-direction: column;
        border-right: 1px solid #f0f0f0;

        .cs-title {
          font-size: 18px;
          font-weight: 700;
          padding-bottom: 15px;
        }

        .cs-call {
          font-size: 28px;
          font-weight: 700;
        }

        .cs-time {
          padding: 10px 0;
          color: #666;
          line-height: 1.4;
          font-size: 12px;
        }

        .cs-delivery {
          padding-bottom: 15px;
          font-size: 18px;
          font-weight: 700;
        }

        .cs-as {
          width: 155px;
          height: 36px;
          border: 1px solid;
          font-size: 12.5px;
          box-sizing: content-box;
          transition: 0.3s;

          &:hover {
            background-color: #31363d;
            color: #fff;
          }
        }
      }

      .bank-info {
        width: 400px;
        padding: 0 30px;
        border-right: 1px solid #f0f0f0;

        .bank-title {
          font-size: 18px;
          font-weight: 700;
        }

        .bank-service {
          margin-top: 15px;
          height: 25px;
          display: flex;
          width: 300px;
          border: 1px solid rgb(33, 59, 133);

          .service-btn {
            font-size: 11px;
            border-right: 1px solid rgb(33, 59, 133);

            &:first-child {
              flex-grow: 2;
              background-color: rgb(33, 59, 133);
              color: #fff;
            }

            &:nth-child(2) {
              flex-grow: 2;
              transition: 0.3s;

              &:hover {
                color: #fff;
                background-color: #31363d;
              }
            }

            &:last-child {
              flex-grow: 1;
              transition: 0.3s;
              border-right: 0;

              &:hover {
                color: #fff;
                background-color: #31363d;
              }
            }
          }
        }

        .bank-des {
          padding-top: 20px;
          display: flex;
          flex-direction: column;
          gap: 10px;

          .bank-des-detail1 {
            font-size: 12px;
            color: rgb(102, 102, 102);

            .bank-name {
              padding-right: 5px;
            }

            .bank-account {
              font-weight: 700;
            }
          }

          .bank-des-detail2 {
            font-size: 12px;
            color: rgb(102, 102, 102);

            .bank-owner {
              padding-right: 5px;
            }

            .bank-owner-name {
              font-weight: 700;
            }
          }
        }
      }

      .delivery-return {
        width: 400px;
        padding: 0 30px;

        .delivery-title {
          font-size: 18px;
          font-weight: 700;
        }

        .delivery-menu {
          padding: 15px 0 10px 0;
          cursor: pointer;
          border-bottom: 1px solid #d5d5d5;
          display: flex;
          gap: 10px;

          .delivery {
            &::after {
              position: relative;
              display: block;
              content: '';
              width: 0;
              height: 3px;
              background: #666;
              bottom: -10px;
              left: 50%;
              transform: translateX(-50%);
              transition: width 0.3s;
            }

            &:hover::after {
              width: 100%;
            }

            &.active {
              font-weight: 600;
            }
          }

          .return {
            &::after {
              position: relative;
              display: block;
              content: '';
              width: 0;
              height: 3px;
              background: #666;
              bottom: -10px;
              left: 50%;
              transform: translateX(-50%);
              transition: width 0.3s;
            }

            &:hover::after {
              width: 100%;
            }

            &.active {
              font-weight: 600;
            }
          }
        }

        .delivery-des {
          display: flex;
          flex-direction: column;
          gap: 15px;
          font-size: 12px;
          padding: 10px 0;
          line-height: 1.4;

          button {
            width: 150px;
            height: 30px;
            border: 1px solid;
            font-size: 12px;
            box-sizing: content-box;
            transition: 0.3s;

            &:hover {
              color: #fff;
              background-color: #31363d;
            }
          }
        }

        .return-des {
          // display: flex;
          display: none;
          flex-direction: column;
          gap: 15px;
          font-size: 12px;
          padding: 10px 0;

          .return-btns {
            button {
              height: 30px;
              padding: 0 5px;
              border: 1px solid;
              font-size: 12px;
              box-sizing: content-box;
              transition: 0.3s;

              &:hover {
                color: #fff;
                background-color: #31363d;
              }
            }
          }
        }
      }
    }
  }

  .company {
    background-color: #f9f9f9;
    width: 100%;
    font-size: 15px;

    .inner {
      padding: 50px 0;
      position: relative;

      .logo {
        background-image: url('../static/images/logo.png');
        background-repeat: no-repeat;
        background-size: contain;
        height: 30px;
        margin-bottom: 25px;
        position: relative;
        left: -20px;
      }

      .company-des1 {
        display: flex;
        padding-bottom: 20px;

        li {
          margin-right: 15px;
          padding-bottom: 10px;
          cursor: pointer;

          &::after {
            position: relative;
            display: block;
            content: '';
            width: 0;
            height: 3px;
            background: #666;
            bottom: -10px;
            left: 50%;
            transform: translateX(-50%);
            transition: width 0.3s;
          }

          &:hover::after {
            width: 100%;
          }

          &:nth-child(2) {
            border-bottom: 1px solid;
          }

          &:nth-child(4) {
            font-weight: 700;
          }
        }
      }

      .company-des2 {
        font-size: 12px;
        display: flex;
        gap: 15px;
        padding: 5px 0;
        color: #666;

        li {
          padding-right: 15px;
          border-right: 1px solid;

          &:first-child {
            font-weight: 700;
          }

          &:last-child {
            border: none;
          }
        }
      }

      .company-des3 {
        font-size: 12px;
        display: flex;
        gap: 15px;
        color: #666;
        padding: 5px 0;

        li {
          padding-right: 15px;
          border-right: 1px solid;

          &:last-child {
            border: none;
          }
        }
      }

      .company-des4 {
        font-size: 12px;
        display: flex;
        gap: 15px;
        color: #666;
        padding: 5px 0;

        li {
          padding-right: 15px;
          border-right: 1px solid;

          &:last-child {
            border: none;
          }

          &:nth-child(2) {
            cursor: pointer;
          }
        }
      }

      img {
        position: absolute;
        width: 134px;
        right: 0;
        bottom: 50px;
      }
    }
  }

  .sns-banner {
    .inner {
      padding: 50px 0;
      position: relative;

      .sns-item {
        display: flex;
        gap: 20px;

        i {
          font-size: 18px;
          cursor: pointer;
        }
      }

      .copy-right {
        font-size: 11px;
        margin-top: 30px;
        line-height: 1.6;
        color: #999;

        p {
          text-align: left;

          span {
            font-weight: bold;
            color: #333;

            &:first-child {
              font-weight: normal;
            }
          }
        }
      }

      img {
        width: 400px;
        position: absolute;
        bottom: 50px;
        right: 0;
      }
    }
  }
}

// 개별 카테고리
.category-area {
  width: 80%;
  margin: 30px auto;

  .event-img-area {
    width: 80%;
    margin: 0 auto;
  }

  .category-title-area {
    width: 100%;
    display: flex;
    border-bottom: 1px solid #f0f0f0;
    padding: 30px 0 5px 0;

    .category-title {
      color: black;
      font-size: 25px;
      line-height: 25px;
      margin-right: 10px;
    }
    .category-count1 {
      font-size: 14px;
      color: #444;
      vertical-align: bottom;
      line-height: 25px;
      font-weight: 700;
      margin-right: 5px;

      &::before {
        content: '⚡';
      }
    }
    .category-count2 {
      font-size: 14px;
      color: #444;
      line-height: 25px;
      vertical-align: bottom;
    }
  }

  .category-menu-area {
    width: 100%;
    font-weight: 600;
    border-bottom: 1px solid #f0f0f0;
    text-align: center;

    ul {
      display: flex;
      justify-content: center;
      margin: 20px 0 10px;

      li {
        font-size: 14px;
        display: flex;
        margin: 0 30px 10px;
        white-space: nowrap;
        cursor: pointer;
      }
    }
  }
}
@keyframes menuAni {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}