header {
  font-weight: bold;
}
header .top-banner {
  position: fixed;
  width: 100%;
  background-color: #fff;
  top: 0;
  border-bottom: 1px solid var(--border-color);
  line-height: 40px;
  font-size: 13px;
  z-index: 10;
}
header .top-banner .inner {
  display: flex;
  justify-content: space-between;
}
header .top-banner .inner .top-nav {
  display: flex;
}
header .top-banner .inner .top-nav .signUpsignIn p {
  font-weight: normal;
}
header .top-banner .inner .top-nav .signUpsignIn p strong {
  font-weight: bold;
}
header .top-banner .inner .top-nav .signUpsignIn .logOutBtn {
  font-weight: normal;
  font-size: 11px;
  color: #777;
}
header .top-banner .inner .top-nav li {
  position: relative;
  margin-right: 30px;
}
header .top-banner .inner .top-nav li:first-child {
  display: flex;
  gap: 10px;
}
header .top-banner .inner .top-nav li:first-child > a {
  position: relative;
  cursor: pointer;
}
header .top-banner .inner .top-nav li:first-child > a > .balloon {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translateX(-50%);
  width: 70px;
  line-height: 2;
  border-radius: 3px;
  text-align: center;
  background-color: #000;
  color: #fff;
  font-size: 12px;
  -webkit-animation: balloon 1.6s linear infinite;
          animation: balloon 1.6s linear infinite;
  font-weight: normal;
}
@-webkit-keyframes balloon {
  0% {
    top: 95%;
  }
  10% {
    top: 110%;
  }
  20% {
    top: 95%;
  }
  30% {
    top: 110%;
  }
  40% {
    top: 95%;
  }
}
@keyframes balloon {
  0% {
    top: 95%;
  }
  10% {
    top: 110%;
  }
  20% {
    top: 95%;
  }
  30% {
    top: 110%;
  }
  40% {
    top: 95%;
  }
}
header .top-banner .inner .top-nav li:first-child > a > .balloon span {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 0px;
  height: 0px;
  border-bottom: 5px solid #000;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}
header .top-banner .inner .top-nav li::after {
  display: block;
  content: "";
  position: absolute;
  width: 1px;
  height: 15px;
  background-color: var(--border-color);
  top: 50%;
  right: -15px;
  transform: translate(50%, -50%);
}
header .top-banner .inner .top-nav li:last-child::after {
  display: none;
}
header .top-banner .inner .top-nav li:last-child {
  margin-right: 0;
}
header .top-banner .inner .top-nav li a {
  display: flex;
  align-items: center;
}
header .top-banner .inner .top-nav li a i {
  margin-right: 5px;
}
header .top-banner .inner .top-nav li a i.fa-circle-user {
  font-size: 20px;
}
header .logo-area {
  display: flex;
  margin-top: 41px;
  border-bottom: 1px solid var(--border-color);
}
header .logo-area .inner {
  position: relative;
  height: 100px;
}
header .logo-area .inner .logo-area__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
header .logo-area .inner .logo-area__search {
  position: absolute;
  background-color: #f5f5f5;
  border-radius: 50px;
  line-height: 40px;
  padding: 0 20px;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
header .nav-area {
  border-bottom: 1px solid var(--border-color);
  height: 50px;
  line-height: 50px;
  font-size: 15px;
  background-color: #fff;
  position: relative;
}
header .nav-area .inner {
  display: flex;
  justify-content: space-between;
}
header .nav-area .inner .nav-area__nav {
  display: flex;
  gap: 50px;
}
header .nav-area .inner .nav-area__nav > li > a {
  display: block;
  position: relative;
}
header .nav-area .inner .nav-area__nav > li::after {
  position: relative;
  display: block;
  content: "";
  width: 0;
  height: 3px;
  background: #666;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.3s;
}
header .nav-area .inner .nav-area__nav > li:hover::after {
  width: 100%;
}
header .nav-area .inner .nav-area__nav > li:hover .nav-area__nav__panel {
  display: block;
}
header .nav-area .inner .nav-area__nav > li:last-child {
  position: relative;
  margin-left: 50px;
}
header .nav-area .inner .nav-area__nav > li:last-child a {
  font-size: 11px;
  vertical-align: middle;
}
header .nav-area .inner .nav-area__nav > li:last-child a i {
  font-size: 14px;
  margin-right: 5px;
}
header .nav-area .inner .nav-area__nav > li:last-child::after {
  position: absolute;
  display: block;
  content: "";
  width: 1px;
  height: 15px;
  background-color: #666;
  top: 50%;
  left: -50px;
  transform: translate(50%, -50%);
}
header .nav-area .inner .nav-area__nav > li .nav-area__nav__panel {
  position: absolute;
  width: 100%;
  left: 0;
  display: none;
  background-color: #fff;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.05);
}
header .nav-area .inner .nav-area__nav > li .nav-area__nav__panel .inner {
  padding: 40px 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 0 50px;
}
header .nav-area .inner .nav-area__nav > li .nav-area__nav__panel .inner li {
  display: inline-block;
  min-width: 130px;
}
header .nav-area .inner .nav-area__nav > li .nav-area__nav__panel .inner li a:hover {
  color: #666;
}
header .nav-area .inner .nav-area__buttons {
  display: flex;
  gap: 5px;
}
header .nav-area .inner .nav-area__buttons li button {
  width: 33px;
  height: 100%;
}
header .nav-area .inner .nav-area__buttons li button .fa-bars {
  font-size: 20px;
  vertical-align: middle;
}
header .nav-area .inner .nav-area__buttons li:first-child {
  background: url(../images/icons/cartIcon.svg) no-repeat center;
  background-size: 21px auto;
}
header .nav-area .inner .nav-area__buttons li:first-child button {
  position: relative;
}
header .nav-area .inner .nav-area__buttons li:first-child button span {
  position: absolute;
  top: 2px;
  left: 2px;
  color: #fff;
  background-color: #ccc;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .table-area {
  width: 800px;
  margin: 0 auto;
  padding: 100px 0;
}
main .table-area h1 {
  font-size: 27px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}
main .table-area p {
  color: var(--sub-text-color);
  text-align: center;
  font-size: 11px;
}
main .table-area h2 img.require {
  left: -15px;
}
main .table-area .base {
  margin-top: 70px;
}
main .table-area .base h2 {
  font-weight: bold;
  color: #000;
  display: flex;
  font-size: 17px;
  align-items: center;
  border-bottom: 3px solid #000;
  padding-bottom: 10px;
  margin-bottom: 10px;
  position: relative;
  width: 100%;
}
main .table-area .base h2 span {
  position: relative;
}
main .table-area .base h2 span:first-child {
  color: var(--sub-text-color);
  font-size: 12px;
  font-weight: normal;
  margin-left: 50px;
}
main .table-area .base h2 span:first-child::after {
  display: block;
  content: "";
  width: 2px;
  height: 10px;
  background: #000;
  position: absolute;
  left: -25px;
  top: 50%;
  transform: translateY(-50%);
}
main .table-area .base h2 span:last-child {
  position: absolute;
  right: 0;
  font-weight: normal;
  font-size: 16px;
}
main .table-area .joinBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px auto 0;
  padding: 0 30px;
  line-height: 50px;
}
main .logIn-area {
  width: 600px;
  margin: 0 auto;
  padding: 100px 70px;
  box-sizing: border-box;
  font-size: 12px;
}
main .logIn-area h1 {
  font-size: 27px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}
main .logIn-area .logIn-area__input {
  margin: 70px 0 15px;
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
}
main .logIn-area .logIn-area__input input {
  border-bottom: 1px solid #e1e1e1;
  line-height: 50px;
  padding: 0 15px;
}
main .logIn-area .logIn-area__input input:last-child {
  border-bottom: 0;
}
main .logIn-area .logIn-area__input input::-moz-placeholder {
  color: var(--sub-text-color);
}
main .logIn-area .logIn-area__input input:-ms-input-placeholder {
  color: var(--sub-text-color);
}
main .logIn-area .logIn-area__input input::placeholder {
  color: var(--sub-text-color);
}
main .logIn-area .logIn-area__saveId {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}
main .logIn-area .logIn-area__saveId input {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background-color: #eee;
  border-radius: 50%;
  margin-right: 10px;
}
main .logIn-area .logIn-area__saveId input:checked {
  background-color: #fee500;
  position: relative;
}
main .logIn-area .logIn-area__saveId input:checked::after {
  content: "";
  display: block;
  background: url("../images/icons/check.png") no-repeat center;
  background-size: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
main .logIn-area .logIn-area__find {
  display: flex;
  margin-top: 30px;
  position: relative;
}
main .logIn-area .logIn-area__find a {
  padding: 0 20px;
}
main .logIn-area .logIn-area__find a:first-child {
  border-right: 1px solid #e1e1e1;
  padding-left: 0;
}
main .logIn-area .logIn-area__find a:last-child {
  border-right: 0;
  padding: 0;
  position: absolute;
  right: 0;
}
main .logIn-area .logInBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  line-height: 45px;
  background-color: #31363d;
  color: #fff;
  border-radius: 5px;
  width: 100%;
  font-weight: bold;
  font-size: 15px;
}/*# sourceMappingURL=main.css.map */