// MYSHOP
.title-box[scope="sub"] {
  padding: 50px 0 80px 0;
  text-align: center;

  .title-box__text {
    line-height: 1.75em;
    font-size: 27px;
    font-weight: 700;
  }

  .title-box__subtext {
    font-size: 11px;
    color: #999;
  }

}

.title-box[scope^="totals"] {
  position: relative;
  padding: 5px 0;
  margin: 0 0 13px 0;
  width: 100%;
  border-bottom: 1px solid #444;

  .title-box__text {
    position: relative;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 3px;
      background: #444;
      left: 0;
      bottom: -5px;
    }
  }

  .title-box__subtext {
    padding: 0 0 0 9px;
    font-size: 11px;
    margin-left: 9px;
    color: #999;
    position: relative;
    top: -1px;

    &::before {
      content: '';
      position: absolute;
      width: 1px;
      height: 8px;
      left: -2px;
      bottom: 2px;
      background: #444;
    }
  }
}

// INFORMATION
.information {
  .inner {
    padding: 10px;
    background: url('https://acttomall.com/_sp/_image/icon/bg_diagonal_line.gif');
    border: 1px solid #f5f5f5;
    box-sizing: border-box;
  }

  .information-item {
    display: flex;
    justify-content: space-between;
    // table-layout: fixed;
    align-items: center;
    padding: 20px;
    width: 100%;
    background-color: #fff;
    border: 1px solid #f5f5f5;
    box-sizing: border-box;
  }

  .thumbnail {
    display: flex;
    // flex-direction: row;
    // width: 90px;
    text-align: center;
    vertical-align: middle;

    img {
      width: 90px;
      padding-right: 20px;
    }
  }

  .description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 20px;
    width: auto;
    line-height: 1.5em;
    border-left: 1px solid #f0f0f0;
    vertical-align: middle;
    text-align: right;

    p {
      text-align: left;
      line-height: 1.4;
      font-size: 12px;
    }
  }

  .btn-group {
    display: flex;
    align-items: center;

    p {
      height: 28px;
      line-height: 25px;
      font-size: 12px;
    }

    a {
      display: flex;
      align-items: center;
      position: relative;
      margin-left: 23px;
      padding: 0 20px;
      height: 40px;
      background-color: #fff;
      border: 2px solid var(--signature-color);
      font-size: 13px;
      color: var(--signature-color);
      transition: all .3s;

      &::before {
        content: '';
        position: absolute;
        width: 1px;
        height: 40%;
        top: 30%;
        left: -13px;
        background-color: rgba(0, 0, 0, .1);
      }

      i {
        position: relative;
        font-weight: bolder;
        top: 0.125em;
      }

      &:hover {
        background-color: var(--signature-color);
        color: #fff;
      }
    }
  }
}

// ORDER-LIST
.order-list {
  margin-top: 20px;
  text-align: center;

  &__item {
    position: relative;
    display: inline-block;
    width: 15.5%;
    margin-left: 20px;
    padding: 30px 0;
    background-color: #fff;
    box-shadow: 0 3px 3px 0 rgba(0 0 0 / 2%);
    border-radius: 10px;
    border: 1px solid #f0f0f0;
    background: transparent url('https://acttomall.com/_sp/_image/svg/bg_diagonal.svg');
    background-position: 0% -65%;
    background-repeat: no-repeat;
    background-size: 100% auto;
    // transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transition: all .3s ease-out;

    &:first-child {
      margin-left: 0;
    }

    .icon {
      height: 60px;
      background-size: 27px 27px;
      background-repeat: no-repeat;
      background-position: center center;

      &.order {
        background-image: url('https://acttomall.com/_sp/_image/svg/order.svg');
      }

      &.mileage {
        background-image: url('https://acttomall.com/_sp/_image/svg/mileage.svg');
      }
    }

    p {
      line-height: 1.6em;
      font-size: 11px;
      color: #999;
    }

    .price {
      font-size: 19px;
      font-weight: 900;
      text-align: center;
      color: #333;
    }

    .line--hover {
      z-index: 1;
      position: absolute;
      width: 100%;
      height: 5px;
      bottom: 0;
      left: 0;
      visibility: hidden;
      opacity: 0;
      background-color: #444;
      transform: matrix3d(0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
      transform-origin: 50% 50% 0;
      // transform: translate3d(0, 0, 0);
      // transform: translateZ(0);
      // display: none;
      transition: all .3s ease-out;
    }

    &:hover {
      background-position: 0 -45%;

      .price {
        color: #666;
      }

      .line--hover {
        visibility: inherit;
        opacity: 1;
        transform: matrix3d(0.2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        // transform: translate3d(0.2, 0, 0);
        // display: block;
      }
    }
  }
}

// QUICK-MENU
.quick-menu {
  padding: 50px 0 150px 0;

  .inner {
    display: flex;
  }

  &__box {
    width: 66%;
  }

  &__item {
    display: table;
    table-layout: fixed;
    padding: 15px 0;
    // margin-top: 20px;
    border-bottom: 1px solid #f0f0f0;

    &:last-child {
      border-bottom: none;
    }

    span {
      display: table-cell;
      vertical-align: middle;
      padding: 0 15px;
    }

    .icon {
      padding-left: 30px;
      width: 12%;
      text-align: center;

      i {
        display: inline-block;
        width: 30px;
        height: 30px;
        background-size: 23px 23px;
        background-repeat: no-repeat;
        background-position: center center;
      }

      &.order i {
        background-image: url('https://acttomall.com/_sp/_image/svg/order.svg');
      }

      &.mileage i {
        background-image: url('https://acttomall.com/_sp/_image/svg/mileage.svg');
      }
    }
  }

  &__subject {
    width: 19%;
    font-size: 12px;
    letter-spacing: 0.15em;
    font-weight: 900;
  }

  &__title {
    width: 100%;
    font-size: 11px;
    color: #999;

    strong {
      display: block;
      line-height: 1.6em;
      font-weight: bold;
      font-size: 13px;
      color: #444;
    }
  }

  &__linked {
    width: 10%;

    a {
      padding: 0 20px;
      display: block;
      height: 40px;
      line-height: 40px;
      white-space: nowrap;
      text-align: center;
      position: relative;
      letter-spacing: -0.03em;
      box-sizing: border-box;
      background: linear-gradient(to bottom, #ffffff 40%, #f6f6f6 100%);
      color: #333;
      border: 1px solid #ebebeb;
      border-bottom-color: #c6c6c6;
      box-shadow: 0 2px 2px rgb(0 0 0 / 4%);
      text-shadow: 0 0 2px rgb(255 255 255);
      font-size: 13px;

      &:hover {
        background: linear-gradient(to bottom, #fafafa 0%, #fff 100%);
      }
    }
  }

  .order-state {
    margin-left: 2%;
    width: 32%;

    &__box {
      border-radius: 10px;
      border: 1px solid #f0f0f0;
      background: url('https://acttomall.com/_sp/_image/svg/bg_diagonal.svg');
      background-position: 0 -7%;
      background-repeat: no-repeat;
      background-size: 100% auto;
      box-shadow: 0 3px 3px 0 rgba(0 0 0 / 2%);
      text-align: center;
      transition: all .3s;

      &:hover {
        background-position: 0 15%;
      }
    }

    &__item {
      display: inline-block;
      padding: 40px 0;
      width: 40%;
      position: relative;
      vertical-align: top;
      cursor: pointer;

      &:first-child::before {
        display: none;
      }

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 20px;
        height: 20px;
        margin: -10px 0 0 -13px;
        background: transparent url('https://acttomall.com/_sp/_image/svg/diagonal.svg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 14px 14px;
      }

      .count {
        height: 50px;
        line-height: 50px;
        font-weight: 900;
        font-size: 24px;
      }

      .state {
        padding: 10px 0 0 0;
        font-size: 11px;
        font-weight: bold;
      }

      .line--hover {
        z-index: 1;
        position: absolute;
        width: 100%;
        height: 5px;
        bottom: 0;
        left: 0;
        visibility: hidden;
        opacity: 0;
        background-color: #444;
        transform: matrix3d(0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform-origin: 50% 50% 0;
        // transform: translate3d(0, 0, 0);
        // transform: translateZ(0);
        // display: none;
        transition: all .3s ease-out;
      }

      &:hover {
        .state {
          color: #666;
        }

        .line--hover {
          visibility: inherit;
          opacity: 1;
          transform: matrix3d(0.2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
          // transform: translate3d(0.2, 0, 0);
          // display: block;
        }
      }
    }
  }
}