main {
  .table-area {
    padding: 100px 0;
    .base {
      h2 {
        span {
          &:first-child {
            color: var(--sub-text-color);
            font-size: 12px;
            font-weight: normal;
            margin-left: 50px;
  
            &::after {
              display: block;
              content: "";
              width: 2px;
              height: 10px;
              background: #000;
              position: absolute;
              left: -25px;
              top: 50%;
              transform: translateY(-50%);
            } 
          }
          &:last-child {
            position: relative;
          }
        }
      }
      th {
        height: 63px;
        display: flex;
        align-items: center;
      }
    }
    .editBtn {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 40px auto 0;
      padding: 0 30px;
      line-height: 50px;
    }
    .account {
      h2 {
        font-weight: bold;
        color: #000;
        display: flex;
        font-size: 17px;
        align-items: center;
        border-bottom: 3px solid #000;
        padding-bottom: 10px;
        margin-bottom: 10px;
        position: relative;
        span {
          position: relative;
          &:first-child {
            color: var(--sub-text-color);
            font-size: 12px;
            font-weight: normal;
            margin-left: 50px;
            &::after {
              display: block;
              content: "";
              width: 2px;
              height: 10px;
              background: #000;
              position: absolute;
              left: -25px;
              top: 50%;
              transform: translateY(-50%);
            }
          }
        }
      }
      table {
        #bank-name {
          width: 150px;
        }
        .account-charge {
          height: 63px;
          display: flex;
          align-items: center;
        }
        #account {
          width: 150px;
        }
        .account-number-input {
          width: 80px;
        }
      }
    }
    .accountBtn {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 40px auto 0;
      padding: 0 30px;
      line-height: 50px;
    }
  }
}