@import url('./allProducts.scss');
@import url('./allTransac.scss');
@import url('./transacStatus.scss');
@import url('./adminSummary.scss');
@import url('./addProducts.scss');
@import url('./productTransacs.scss');

// HEADER
header {
  font-weight: bold;
}

main {
  width: 90%;
  margin: 30px auto 0;
}