// COMMON

:root {
  --font-style: 'Nanum Gothic', sans-serif;
  --border-color: #f5f5f5;
  --table-border-color: #f0f0f0;
  --table-th-background: #b1bee3;
  --text-color: #333;
  --sub-text-color: #999;
  --signature-color: #213b85
}

body {
  font-family: var(--font-style);
  color: var(--text-color);
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

//관리자페이지 버튼에 font, font-weight추가
button,
input {
  font-family: var(--font-style);
  font-weight: 600;
  color: var(--text-color);
  border: none;
  background-color: inherit;
  outline: none;
  cursor: pointer;
}

button.hover-navy {
  border: 2px solid var(--signature-color);
  line-height: 36px;
  color: var(--signature-color);
  padding: 0 20px;
  transition: 0.3s;

  i {
    margin-right: 5px;
  }
}

button.hover-navy:hover {
  background-color: var(--signature-color);
  color: #fff;
}

.blackBtn {
  background-color: #000;
  border-radius: 50px;
  color: #fff;
  display: inline-block;
  line-height: 42px;
  font-size: 15px;
  padding: 0 20px;
  margin: 0 auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

select {
  border: none;
  outline: none;
  border: 1px solid #eaeaea;
  height: 42px;
  padding: 0 20px;
  width: 100px;
}

img {
  width: 100%;
}

img.require {
  width: 10px;
  height: 10px;
  position: absolute;
  background: url('../../static/images/mouse-bluetoothWhite.jpg');
}

.inner {
  width: 1210px;
  margin: 0 auto;
}

.table-area {
  > li {
    h2 {
      font-weight: bold;
      color: #000;
      display: flex;
      align-items: center;
      border-bottom: 3px solid #000;
      padding-bottom: 10px;
      margin-bottom: 10px;
      font-size: 17px;
      position: relative;
      width: 100%;

      span {
        color:var(--sub-text-color);
        font-size: 12px;
        font-weight: normal;
        margin-left: 50px;
        position: relative;

        &::after {
          display: block;
          content: "";
          width: 2px;
          height: 10px;
          background:#000;
          position: absolute;
          left: -25px;
          top:50%;
          transform: translateY(-50%);
        }
      }
    }

    table {
      width: 100%;
      font-size: 12px;
      color: #353535;

      thead {
        position: sticky;
        top: -100px;
        z-index:1;
        tr {
          background-color: var(--signature-color);
          th {
            color: #fff;
            font-weight: bold;
            padding: 20px 0;
            text-align: center;
            font-size: 14px;
            vertical-align: middle;

            button {
              color: #fff;
              font-weight: normal;
              border-radius: 10px;
              padding: 10px;
              font-size: 15px;
            }
          }
        }
      }

      tbody {
        tr {

          &:nth-child(2n) {
            background-color: #E4EBF5;
          }

          td {
            vertical-align: middle;
            text-align: center;

            &.thumbnail {
              height: 150px;
              position: relative;
              overflow: hidden;

              img {
                width: auto;
                height: 100%;
                position: absolute;
                top:50%;
                left: 0;
                transform: translateY(-50%);
              }
            }
          }
        }
      }
    }
  }
}

h1 {
  width: 100%;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  padding: 20px 0;
  margin-bottom: 50px;
  position: relative;

  &::after {
    position: absolute;
    display: block;
    content: '';
    width: 0;
    height: 5px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    transition: 0.3s;
  }
}

h2 {
  width: 100%;
  font-size: 42px;
  font-weight: bold;
  text-align: center;
}

p {
  text-align: center;
}