@import url('./allProducts.scss');
@import url('./allTransac.scss');
@import url('./adminSummary.scss');
@import url('./addProducts.scss');

// HEADER
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--signature-color);
  position: relative;
  padding: 0 130px;
  .logo {
    display:flex;
    align-items: center;
    height: 70px;
    img {
      height: 30px;
    }
  }
  
  ul {
    display: flex;
    > li {
      padding: 0 20px;
      font-weight: normal;
      font-size: 13px;
      display: flex;
      align-items: center;
      color: #fff;

      &.logOutBtn {
        // border: 1px solid #fff;
        border-radius: 5px;
        background-color: #fff;
        color: var(--signature-color);
        padding: 10px 15px;
      }

      
      i {
        margin-left: 10px;
      }
    }

    &.adminHeader {
      p {
        strong {
          font-size: 20px;
          font-weight: bold;
          margin-left: 5px;
        }
      }
    }

    &.gnb {
      position: absolute;
      left: 400px;
      height: 80%;
      bottom: 0;
      display: flex;
      align-items: end;
      
      li {
        border-radius: 10px 10px 0 0;
        font-size: 14px;
        height: 90%;
        padding: 0;
        position: relative;
        border-right: 1px solid var(--signature-color);
        background-color: #53619d;

        a {
          width: 100%;
          height: 100%;
          padding: 0 20px;
          display: flex;
          align-items: center;
        }

        &:hover {
          height: 100%;
        }
        
        &.active {
          height: 100%;
          background: #f7f9fb;
          color: var(--signature-color);
          font-weight: bold;
          font-size: 14px;
          
          .tabStyle {
            width: 20px;
            height: 20px;
            position: absolute;
            background-color: #f7f9fb;
            bottom: 0;
            z-index: 1;

            span {
              display: block;
              background-color: #53619d;
              width: 100%;
              height: 100%;
            }

            &:first-of-type {
              left: -20px;

              span {
                border-radius: 0 0 50% 0;
              }
            }

            &:last-of-type {
              right: -20px;

              span {
                border-radius: 0 0 0 50%;
              }
            }
          }
        }

        &:first-child.active {
          .tabStyle {

            &:first-of-type {
              span {
                background-color: var(--signature-color);
              }
            }
          }
        }

        &:last-child {
          .tabStyle {

            &:last-of-type {
              span {
                background-color: var(--signature-color);
              }
            }
          }
        }
      }
    }
  }
}

main {
  display: flex;
  height: calc(100vh - 70px);
  background-color: #f7f9fb;

  .admin-summary {
    width: 350px;
  }

  .contents {
    width: calc(100% - 350px);
    overflow-y: auto;
    // padding: 100px;
    box-sizing: border-box;
    position: relative;

    .tabStyle {
      position: fixed;
      background-color: var(--signature-color);
      width: 20px;
      height: 20px;

      span {
        display: block;
        width: 100%;
        height: 100%;
        background-color: #f7f9fb;
      }
      
      &:first-child {
        top: 70px;
        left: 350px;
        span {
          border-radius: 50% 0 0 0;
        }
      }
      &:nth-child(2) {
        top: 70px;
        right: 0;
        span {
          border-radius: 0 50% 0 0;
        }
      }
      &:nth-child(3) {
        bottom: 0;
        left: 350px;
        span {
          border-radius: 0 0 0 50%;
        }
      }
    }

    .panels {
      display: none;
      padding: 100px;
      position: absolute;
      top: 0;
      left:0;
    }
    .panels.here {
      display: block;
    }
  }
}