@import url('./allProducts.scss');
@import url('./allTransac.scss');
@import url('./transacStatus.scss');
@import url('./adminSummary.scss');
@import url('./addProducts.scss');

// HEADER
header {
  font-weight: bold;

  // top-banner
  .top-banner {
    position: fixed;
    width: 100%;
    background-color: #fff;
    top: 0;
    border-bottom: 1px solid var(--border-color);
    line-height: 40px;
    font-size: 13px;
    z-index: 10;

    .inner {
      display: flex;
      justify-content: space-between;

      .top-nav {
        display: flex;

        li {
          position: relative;
          margin-right: 30px;

          &:first-child {
            display: flex;
            gap: 10px;

            >a {
              position: relative;

              span {
                position: absolute;
                bottom: 100%;
                left: 50%;
                transform: translateX(-50%);
                width: 0px;
                height: 0px;
                border-bottom: 5px solid #000;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
              }
            }
          }

          &::after {
            display: block;
            content: '';
            position: absolute;
            width: 1px;
            height: 15px;
            background-color: var(--border-color);
            top: 50%;
            right: -15px;
            transform: translate(50%, -50%);
          }
        }
      }
    }
  }

  // logo-area
  .logo-area {
    display: flex;
    margin-top: 41px;
    border-bottom: 1px solid var(--border-color);

    .inner {
      position: relative;
      height: 100px;

      .logo-area__logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .logo-area__search {
        position: absolute;
        background-color: #f5f5f5;
        border-radius: 50px;
        line-height: 40px;
        padding: 0 20px;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
      }
    }
  }

  // nav-area
  .nav-area {
    border-bottom: 1px solid var(--border-color);
    height: 50px;
    line-height: 50px;
    font-size: 15px;
    background-color: #fff;
    position: relative;
    display: flex;
    justify-content: center;

    .inner {
      display: flex;
      justify-content: center;

      .nav-area__nav {
        display: flex;
        gap: 50px;

        >li {
          position: relative;

          >a {
            display: block;
            position: relative;
          }

          &::after {
            position: absolute;
            display: block;
            content: '';
            width: 0;
            height: 3px;
            background: #666;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            transition: width 0.3s;
          }

          &:hover::after {
            width: 100%;
          }

          &:hover {
            .nav-area__nav__panel {
              display: block;
            }
          }
        }
      }
    }
  }
}

main {
  width: 90%;
  margin: 30px auto 0;
}