// 개별 거래 내역

// 삭제할 파일

.product-transacs.show {
  display: flex;
}
.product-transacs {
  margin-top: 20px;
  display: none;
  justify-content: center;
  align-items: center;

  .inner {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
  }

  .product-transac-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .properties {
      background-color: #f5f5f5;
      font-weight: 700;
      width: 100%;
      height: 50px;
      display: flex;

      .text-wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;

        .thumbnail {
          display: flex;
          width: 20%;
          justify-content: center;
          align-items: center;
        }

        .text-wrapper {
          width: 80%;
          display: flex;
          justify-content: space-around;
          align-items: center;
        }
      }
    }
  }
}
