// HEADER
header {
  font-weight: bold;

  // top-banner
  .top-banner {
    position: fixed;
    width: 100%;
    background-color: #fff;
    top: 0;
    border-bottom: 1px solid var(--border-color);
    line-height: 40px;
    font-size: 13px;
    z-index: 10;

    .inner {
      display: flex;
      justify-content: space-between;

      .top-nav {
        display: flex;

        li {
          position: relative;
          margin-right: 30px;

          &:first-child {
            display: flex;
            gap: 10px;

            > a {
              position: relative;

              span {
                position: absolute;
                bottom: 100%;
                left: 50%;
                transform: translateX(-50%);
                width: 0px;
                height: 0px;
                border-bottom: 5px solid #000;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
              }
            }
          }

          &::after {
            display: block;
            content: '';
            position: absolute;
            width: 1px;
            height: 15px;
            background-color: var(--border-color);
            top: 50%;
            right: -15px;
            transform: translate(50%, -50%);
          }
        }
      }
    }
  }

  // logo-area
  .logo-area {
    display: flex;
    margin-top: 41px;
    border-bottom: 1px solid var(--border-color);

    .inner {
      position: relative;
      height: 100px;

      .logo-area__logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .logo-area__search {
        position: absolute;
        background-color: #f5f5f5;
        border-radius: 50px;
        line-height: 40px;
        padding: 0 20px;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
      }
    }
  }

  // nav-area
  .nav-area {
    border-bottom: 1px solid var(--border-color);
    height: 50px;
    line-height: 50px;
    font-size: 15px;
    background-color: #fff;
    position: relative;
    display: flex;
    justify-content: center;

    .inner {
      display: flex;
      justify-content: center;

      .nav-area__nav {
        display: flex;
        gap: 50px;

        > li {
          position: relative;

          > a {
            display: block;
            position: relative;
          }

          &::after {
            position: absolute;
            display: block;
            content: '';
            width: 0;
            height: 3px;
            background: #666;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            transition: width 0.3s;
          }

          &:hover::after {
            width: 100%;
          }

          &:hover {
            .nav-area__nav__panel {
              display: block;
            }
          }
        }
      }
    }
  }
}

// MAIN - LOOKUP ALL PRODUCTS
.all-products {
  background-color: orange;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  .inner {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .products-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .product-item {
    border: 1px solid #000;
    font-weight: 700;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    .thumbnail {
      display: flex;
      width: 20%;
      justify-content: center;
      align-items: center;
    }
    .text-wrapper {
      width: 80%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      .descript {
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    margin-bottom: 10px;
  }
}

.all-transacs {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
  .inner {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .all-transac-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .properties {
    border: 1px solid #000;
    font-weight: 700;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    .thumbnail {
      display: flex;
      width: 20%;
      justify-content: center;
      align-items: center;
    }
    .text-wrapper {
      width: 80%;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }
}

.transacs-status {
  background-color: green;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  .inner {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    .user-info-wrapper {
      font-size: 20px;
      display: flex;
      flex-direction: column;
      justify-content: left;
      margin-bottom: 50px;
      .profile-img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background-color: #f5f5f5;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
      }
      .user-info {
        display: flex;
        flex-direction: column;
        justify-content: left;
        .name {
          margin-bottom: 30px;
        }
        .email {
          margin-bottom: 30px;
        }
      }
    }
  }
  .all-transac-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .each-properties {
    border: 1px solid #000;
    font-weight: 700;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    .thumbnail {
      display: flex;
      width: 20%;
      justify-content: center;
      align-items: center;
    }
    .text-wrapper {
      width: 80%;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }
}
